.box{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 40px;
    margin-top: 40px;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.title{
    display: flex;
    flex-direction: column;
    font-style: normal;
}
.title h2{
    font-size: 20px;
    margin: 0;
}
.title p{
    font-size: 15px;
    margin: 10px 0 0 0;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.input-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.input-group input{
    height: 38px;
    width: 400px;
    border: none;
    background: rgba(233, 239, 253, 0.8);
    border-radius: 4px;
    box-shadow:0 0 8px rgba(225, 223, 245, 0.4), inset 0 0 20px rgba(223, 221, 252, 0.05);
}
.input-group label{
    font-size: 12px;
}

.btns{
    margin-left: 280px;
}
.UpBtn{
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: #0053DB;
    color: #fff;
    transition: transfrom 0.9s ease;
    cursor: pointer;
}
.UpBtn:hover{
    box-shadow: 0 6px 16px rgba(0, 83, 219, 0.3),0 3px 6px rgba(0, 83, 219, 0.18);
    transform: translateY(-1px);   
}
.UpBtn:active{
    box-shadow: 0 2px 6px rgba(0, 83, 219, 0.25);
    transform: translateY(0);
}