header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    border-bottom: solid 1px #e5e5e5;
}
.identity{
    align-items: center;
    gap: 10px;
    margin-right: 550px;
}
.identity h2{
    color: #2563EB;
    font-size: 20px;
    margin-right: auto;
    letter-spacing: -1px;
}
.title{
    margin-right: 650px;
    align-items: center;
}
.title h2{
    color: #2563EB;
    font-size: 20px;
    margin-right: auto;
    letter-spacing: -1px;    
}