.body {
    display: flex;
    flex-direction: column;
    background-color: #e7eff8;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.filter{
    display: flex;
    flex-direction: row;
}