<div class="body">
    <app-alert-header></app-alert-header>
    <div class="container">
        <div class="filter">
            <app-alert-filter></app-alert-filter>
            <app-alert-stats></app-alert-stats>
        </div>
        <div class="post" *ngIf="posts.length; else emptyState">
            <app-alert-post *ngFor="let post of posts" [post]="post"></app-alert-post>
        </div>
        <ng-template #emptyState>
            <div class="post empty-state">No public alerts yet.</div>
        </ng-template>
    </div>
</div>