.body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        180deg,
        #f7f8ff 0%,
        #ffffff 100%
    );
    min-height: 100vh;
}
.sign-up{
    border-radius: 8px;
    background-color: #fff;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

}